# Dzień pierwszy - bootcamp


* Podstawy Linux,
* Podstawy GIT,
* Podstawy Python

In [1]:
print('Hello world!')

Hello world!

## Podstawowe zmienne w Python
* ciągi znaków - stringi
* liczby

### Ciągi znaków

In [2]:
zmienna_znakowa = 'Hello world!'

In [3]:
print(zmienna_znakowa)

Hello world!

In [4]:
zmienna_znakowa2 = "Hello world! \"test\"!"
print(zmienna_znakowa2)

Hello world! "test"!

In [5]:
zmienna_znakowa3 = 'Hello world! \"test\"!'
print(zmienna_znakowa3)

Hello world! "test"!

### Konkatenacja znaków

#### sposób na konkatenację #1

In [6]:
zmienna_znakowa+' Adam'

'Hello world! Adam'

#### sposób na konkatenację #2

In [8]:
uzyt='Adam'

In [10]:
print('{} siema {}!'.format(zmienna_znakowa,uzyt))

Hello world! siema Adam!

In [11]:
print('{ciag_znakow} siema {uzytk}!'.format(ciag_znakow=zmienna_znakowa,uzytk=uzyt))

Hello world! siema Adam!

#### sposób na konkatenację #3 - od 3.6

In [12]:
f'{zmienna_znakowa} {uzyt}'

'Hello world! Adam'

### Slicing - podciąg ciągu - substr

In [13]:
zmienna_znakowa[0:3]

'Hel'

In [15]:
print('{cz}{uz}'.format(cz=zmienna_znakowa[1:3],uz=zmienna_znakowa[4:5]))

elo

In [16]:
# co drugi znak od drugiego
zmienna_znakowa[2::2]

'lowrd'

In [17]:
#ostatni
zmienna_znakowa[-1]

'!'

In [18]:
zm="gówno gówno error!"
zm[-6:]

'error!'

In [20]:
zmienna_znakowa[-1]=='!'

True

In [21]:
#nie można tak nadpisać
zmienna_znakowa[-1]='!'

TypeError: 'str' object does not support item assignment

In [22]:
zmienna_znakowa[-1] !='!'

False

In [23]:
len(zmienna_znakowa)

12

In [24]:
type(zmienna_znakowa)

str

In [25]:
del zm

### metody na stringach - kropka+TAB

In [26]:
zmienna_znakowa.lower()

'hello world!'

In [27]:
zmienna_znakowa.upper()

'HELLO WORLD!'

In [28]:
dir(zmienna_znakowa)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:

dir

In [30]:
dir?

In [31]:
lista_uczestnikow='Ewelina, Tomek, Marta'

In [32]:
lista_uczestnikow.find('Tomek')

9

In [33]:
lista_uczestnikow[9:]

'Tomek, Marta'

In [43]:
lista_uczestnikow.split(sep=', ',maxsplit=1)

['Ewelina', 'Tomek, Marta']

In [44]:
print('duuuuuuuuuupaaaaaa')

duuuuuuuuuupaaaaaa

In [45]:
print?

In [47]:
print('Hello \n world!')

Hello
 world!

In [56]:
print(r'Hello \n world!')

Hello \n world!

In [48]:
lita_ucz=lista_uczestnikow.split(sep=', ',maxsplit=1)
type(lita_ucz)

list

In [49]:
type(lista_uczestnikow)

str

In [50]:
lita_ucz[1:]

['Tomek, Marta']

In [52]:
lista_uczestnikow[1:]

'welina, Tomek, Marta'

In [55]:
# join elementów z listy z ustalonym delimiterem
', '.join(lita_ucz)

'Ewelina, Tomek, Marta'

### Zmienne liczbowe
* całkowito liczbowe
* zmiennoprzecinkowe

### całkowito liczbowe
* typ __int__

In [57]:
zmienna_liczba = 8

In [58]:
zmienna_liczba

8

In [64]:
zmienna_tex='8'

In [65]:
print(zmienna_liczba)
print(zmienna_tex)

8
8

In [66]:
type(zmienna_liczba)

int

In [67]:
type(zmienna_tex)

str

In [69]:
zmienna_liczba=zmienna_liczba+3
print(zmienna_liczba)

14

In [71]:
zmienna_liczba += 3
print(zmienna_liczba)

20

In [75]:
zmienna_tex += '3'
print(zmienna_tex)

83

In [76]:
print(zmienna_tex*3)

838383

### przepisywanie wartości w locie

In [81]:
u1="Ania"
u2="Tomek"

In [82]:
u1,u2=u2,u1

In [83]:
u1

'Tomek'

In [84]:
u2

'Ania'

In [85]:
# to nie jest potęgowanie!
3^2

1

In [86]:
16 ** (1/2)

4.0

In [87]:
import math

In [88]:
math.sqrt(16)

4.0

In [89]:
math.pow(16,0.5)

4.0

In [90]:
112 // 3

37

In [91]:
112/3

37.333333333333336

In [93]:
112 % 3

1

### Zmiennoprzecinkowe
* typ __float__

In [94]:
zmienna_float=3.14
zmienna_e=2.71
type(zmienna_e)

float

In [95]:
zmienna_e*3

8.129999999999999

In [96]:
math.e

2.718281828459045

In [97]:
round(math.e,3)

2.718

In [98]:
round(math.e)

3

In [99]:
#float
round(math.e,0)

3.0

In [100]:
round(math.pi,3)

3.142

In [101]:
round(1000*math.pi,0)

3142.0

In [102]:
math.pi

3.141592653589793

In [103]:
round(1000000*math.pi,0)

3141593.0

### Konwersja typów

In [104]:
zmie_flo=3.14

In [105]:
int(zmie_flo)

3

### Listy
* Do zapisania

In [106]:
liczby=[1,2,5,11]

In [107]:
type(liczby)

list

In [108]:
liczby[1:3]

[2, 5]

In [109]:
liczby[-2:]

[5, 11]

In [110]:
len(liczby)

4

In [111]:
1 in liczby

True

In [112]:
1 not in liczby

False

In [113]:
liczby.append(-1)

In [114]:
liczby.append(-8)

In [115]:
liczby

[1, 2, 5, 11, -1, -8]

In [116]:
liczby.append(6)

In [117]:
liczby.sort()

In [118]:
liczby

[-8, -1, 1, 2, 5, 6, 11]

In [119]:
liczby.sort(reverse=True)

In [120]:
liczby

[11, 6, 5, 2, 1, -1, -8]

In [121]:
sorted(liczby)

[-8, -1, 1, 2, 5, 6, 11]

In [122]:
lista_plac = [ 4000, 5000, 3000, 8000]

In [123]:
len(lista_plac)

4

In [124]:
lista_plac.pop()

8000

In [125]:
len(lista_plac)

3

In [128]:
lista_plac.extend([8000,5000])

In [129]:
!whoami

tomeker

In [130]:
zmiee=!whoami

In [131]:
zmiee

['tomeker']

In [132]:
aaa=("Jesteś zalogowany jako {uuu}".format(uuu=zmiee[0]))

In [133]:
aaa

'Jesteś zalogowany jako tomeker'

In [134]:
ls

D1.ipynb  history2.txt  README.md

In [137]:
hh=!ls -al
hh

['total 72',
 'drwxr-xr-x 4 tomeker tomeker  4096 paź 14 12:29 .',
 'drwxr-xr-x 3 tomeker tomeker  4096 paź 13 14:44 ..',
 '-rw-r--r-- 1 tomeker tomeker 33647 paź 14 12:29 D1.ipynb',
 'drwxr-xr-x 8 tomeker tomeker  4096 paź 14 10:30 .git',
 '-rw-r--r-- 1 tomeker tomeker    20 paź 13 16:14 .gitignore',
 '-rw-r--r-- 1 tomeker tomeker  8297 paź 13 17:09 history2.txt',
 'drwxr-xr-x 2 tomeker tomeker  4096 paź 13 16:03 .ipynb_checkpoints',
 '-rw-r--r-- 1 tomeker tomeker    24 paź 13 16:06 README.md']

In [139]:
hh.remove(".git'")

ValueError: list.remove(x): x not in list

In [147]:
hh2=Popen(!ls -al  | grep .git/ -v)
hh2

SyntaxError: invalid syntax (<ipython-input-147-5250dee52cb0>, line 1)

In [150]:
nnn=!ls -al  | grep .git -v
nnn

['total 72',
 'drwxr-xr-x 4 tomeker tomeker  4096 paź 14 13:43 .',
 'drwxr-xr-x 3 tomeker tomeker  4096 paź 13 14:44 ..',
 '-rw-r--r-- 1 tomeker tomeker 35364 paź 14 13:43 D1.ipynb',
 '-rw-r--r-- 1 tomeker tomeker  8297 paź 13 17:09 history2.txt',
 'drwxr-xr-x 2 tomeker tomeker  4096 paź 13 16:03 .ipynb_checkpoints',
 '-rw-r--r-- 1 tomeker tomeker    24 paź 13 16:06 README.md']

In [162]:
hh=!ls -al
print(hh)
for t in hh:
#    for c in t:
    if '.git' in t:
        hh.remove(t)
        break
hh

['total 76', 'drwxr-xr-x 4 tomeker tomeker  4096 paź 14 14:03 .', 'drwxr-xr-x 3 tomeker tomeker  4096 paź 13 14:44 ..', '-rw-r--r-- 1 tomeker tomeker 38350 paź 14 14:03 D1.ipynb', 'drwxr-xr-x 8 tomeker tomeker  4096 paź 14 10:30 .git', '-rw-r--r-- 1 tomeker tomeker    20 paź 13 16:14 .gitignore', '-rw-r--r-- 1 tomeker tomeker  8297 paź 13 17:09 history2.txt', 'drwxr-xr-x 2 tomeker tomeker  4096 paź 13 16:03 .ipynb_checkpoints', '-rw-r--r-- 1 tomeker tomeker    24 paź 13 16:06 README.md']

['total 76',
 'drwxr-xr-x 4 tomeker tomeker  4096 paź 14 14:03 .',
 'drwxr-xr-x 3 tomeker tomeker  4096 paź 13 14:44 ..',
 '-rw-r--r-- 1 tomeker tomeker 38350 paź 14 14:03 D1.ipynb',
 '-rw-r--r-- 1 tomeker tomeker    20 paź 13 16:14 .gitignore',
 '-rw-r--r-- 1 tomeker tomeker  8297 paź 13 17:09 history2.txt',
 'drwxr-xr-x 2 tomeker tomeker  4096 paź 13 16:03 .ipynb_checkpoints',
 '-rw-r--r-- 1 tomeker tomeker    24 paź 13 16:06 README.md']

In [161]:
'.git' in hh[4]

True

In [160]:
hh[3]

'-rw-r--r-- 1 tomeker tomeker 37688 paź 14 13:59 D1.ipynb'

In [163]:
!ls -l

total 56
-rw-r--r-- 1 tomeker tomeker 38269 paź 14 14:05 D1.ipynb
-rw-r--r-- 1 tomeker tomeker  8297 paź 13 17:09 history2.txt
-rw-r--r-- 1 tomeker tomeker    24 paź 13 16:06 README.md

In [164]:
ls -al

total 76
drwxr-xr-x 4 tomeker tomeker  4096 paź 14 14:05 ./
drwxr-xr-x 3 tomeker tomeker  4096 paź 13 14:44 ../
-rw-r--r-- 1 tomeker tomeker 38269 paź 14 14:05 D1.ipynb
drwxr-xr-x 8 tomeker tomeker  4096 paź 14 10:30 .git/
-rw-r--r-- 1 tomeker tomeker    20 paź 13 16:14 .gitignore
-rw-r--r-- 1 tomeker tomeker  8297 paź 13 17:09 history2.txt
drwxr-xr-x 2 tomeker tomeker  4096 paź 13 16:03 .ipynb_checkpoints/
-rw-r--r-- 1 tomeker tomeker    24 paź 13 16:06 README.md

In [165]:
print?

In [166]:
kk='sdfd adsf aefd 23 sdcd'
kk

'sdfd adsf aefd 23 sdcd'

In [167]:
kk.replace(' ','')

'sdfdadsfaefd23sdcd'

In [168]:
kk2='234e 656'
kk3='234 cdsad'

In [170]:
kk0=(kk, kk2, kk3)
kk0

('sdfd adsf aefd 23 sdcd', '234e 656', '234 cdsad')

In [196]:
# coś źle
kk00=kk0
gg=len(kk0)
print(gg)
for i in gg:
    kk00[i]=kk0[i].replace(' ','')
    break
kk00

3

TypeError: 'int' object is not iterable

In [188]:
kk0
kk0[0]
kk0[0].replace(' ','')

'sdfdadsfaefd23sdcd'

## Tuple
* niemutowalna lista
* bardziej do zabezpieczenia - do konfiguracji

In [175]:
dni=('pon','wt','sr','czw','pt')

In [176]:
len(dni)

5

In [177]:
#nie da się
del dni[1]

TypeError: 'tuple' object doesn't support item deletion

## Słownik

In [179]:
slow={}
type(slow)

dict

In [183]:
slow={1:'Ewel', 22:'Tom', 13:'Mart'}

In [181]:
print(slow)

{1: 'Ewel', 2: 'Tom', 3: 'Mart'}

In [184]:
slow[2]

KeyError: 2

In [185]:
slow[22]

'Tom'

In [190]:
slow.keys()

dict_keys([1, 22, 13])

In [191]:
slow.values()

dict_values(['Ewel', 'Tom', 'Mart'])

In [192]:
# elementy to tuple!
slow.items()

dict_items([(1, 'Ewel'), (22, 'Tom'), (13, 'Mart')])

In [193]:
slow[12]="Adam"
slow

{1: 'Ewel', 22: 'Tom', 13: 'Mart', 12: 'Adam'}

In [197]:
del slow[12]
slow

{1: 'Ewel', 22: 'Tom', 13: 'Mart'}

## Sety

In [198]:
moj_zb={1,2,2,3,9}

In [199]:
moj_zb

{1, 2, 3, 9}

In [200]:
moj_li=[1,2,2,3,9]

In [201]:
# usunięcie duplikatów z listy - przykład
list(set(moj_li))

[1, 2, 3, 9]

In [202]:
A={1,2,2,3,9}
B={3,9,6,7,8}

In [203]:
A|B

{1, 2, 3, 6, 7, 8, 9}

In [204]:
A-B

{1, 2}

In [205]:
B-A

{6, 7, 8}

In [206]:
A&B

{3, 9}

In [207]:
(A-B)|(B-A)

{1, 2, 6, 7, 8}

## Wartość pusta

In [214]:
A=None
temperatury=[17,20,21,18,30, None]

In [209]:
type(A)

NoneType

In [211]:
temperatury.sort()

TypeError: '<' not supported between instances of 'NoneType' and 'int'

In [215]:
temperatury.remove(None)
temperatury.sort()
temperatury

[17, 18, 20, 21, 30]

In [216]:
sum(temperatury)

106

## Instrukcje warunkowe

In [218]:
a=7
b=4
if a<b:
    print('a ({}) mniejsze niż b ({})'.format(a,b))
elif a>b:
    print('a ({}) większe niż b ({})'.format(a,b))
#elif a == b
else:
    print('Zmienne równe')

a (7) większe niż b (4)

In [219]:
dane="koleżanka1"
wzrost=170
waga=100

In [223]:
def beemi(imie,waga,wzr):
    bmi=waga/(wzr**2)
    print("Osoba: {imi} o wzroście {wzr} i wadze {wag} ma BMI= {bm}".format(bm=bmi, imi=imie,wzr=wzr,wag=waga))
    if bmi<18.5:
        print('Niedowaga')
    elif bmi<25:
        print('Norma')
    else:
        print('Nadwaga')

In [228]:
beemi('Ewelina Zet',50,1.7)

Osoba: Ewelina Zet o wzroście 1.7 i wadze 50 ma BMI= 17.301038062283737
Niedowaga

In [229]:
beemi('Tomek eR',81,1.88)

Osoba: Tomek eR o wzroście 1.88 i wadze 81 ma BMI= 22.917609778180175
Norma

## Pętle
* for
* while

In [231]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [233]:
len(temperatury)

5

In [235]:
for el in temperatury:
    print('temp wynosi {}'.format(el))

temp wynosi 17
temp wynosi 18
temp wynosi 20
temp wynosi 21
temp wynosi 30

## Pętla while

In [236]:
i=0
while i<10:
    print('zm i wynosi {}'.format(i))
    i+=1

zm i wynosi 0
zm i wynosi 1
zm i wynosi 2
zm i wynosi 3
zm i wynosi 4
zm i wynosi 5
zm i wynosi 6
zm i wynosi 7
zm i wynosi 8
zm i wynosi 9

## List comprehention

In [237]:
lista_elem=[]
for i in range(100):
    lista_elem.append(i)

In [239]:
len(lista_elem)

100

In [ ]:
for i in range(len(lista_elem))
#sprawdzić
for i in enumerate(lista_elem)

In [240]:
lista_elem=[]
for i in range(10):
    lista_elem.append(i**2)

In [241]:
lista_elem

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Nowa metoda - list compreh

In [244]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [245]:
[i**2 for i in range(10) if not i % 2]

[0, 4, 16, 36, 64]

In [249]:
[i**2 for i in range(10) if i % 2]

[1, 9, 25, 49, 81]

In [250]:
[i**2 if not i % 2 else 0 for i in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

In [260]:
aaa=[i**2 for i in range(5000) if not (i**2+1) % 3]
sum(aaa)

0

In [254]:
bbb=[i**2 if not i % 2 else -300 for i in range(5000)]
sum(bbb)

5480

## Dictionary comprehension

In [261]:
{i: 65+i for i in range(4)}

{0: 65, 1: 66, 2: 67, 3: 68}

In [262]:
{i: for i in range(4)}

SyntaxError: invalid syntax (<ipython-input-262-a9a64c37189b>, line 1)

In [265]:
{i: chr(65+i) for i in range(25)}

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'H',
 8: 'I',
 9: 'J',
 10: 'K',
 11: 'L',
 12: 'M',
 13: 'N',
 14: 'O',
 15: 'P',
 16: 'Q',
 17: 'R',
 18: 'S',
 19: 'T',
 20: 'U',
 21: 'V',
 22: 'W',
 23: 'X',
 24: 'Y'}

## Funkcje

In [266]:
def funkcja():
    print('Pierwsza funkcja')

In [267]:
funkcja()

Pierwsza funkcja

In [268]:
def funkcja2():
    return('Pierwsza funkcja')
funkcja2()

'Pierwsza funkcja'

In [269]:
a=funkcja()
b=funkcja2()
print(a)
print(b)

Pierwsza funkcja
None
Pierwsza funkcja

In [270]:
type(a)

NoneType

In [271]:
type(b)

str

In [273]:
def suma_dwoch(a,b):
    return a+b

In [274]:
c=suma_dwoch(7,8)
c

15

In [275]:
def obli_war(x,a=1,b=0):
    return a*x+b

In [276]:
obli_war(5,2)

10

In [277]:
obli_war(5,2,3)

13

In [279]:
def imie():
    return("Tomek")
a=imie()
a==None

False

In [286]:
lis=[1200,2500,1800]
def suma_zar(dzial,lista):
    sr_zar=sum(lista)/len(lista)
    return("Srednie zar dzialu {dzi} to {sr}".format(dzi=dzial,sr=sr_zar))

In [288]:
a=suma_zar("admin",lis)
a

'Srednie zar dzialu admin to 1833.3333333333333'

## Generatory
* bardzo podobne do list comprahention
* oszczędzają pamięć
* przydatne gdy dużo danych
* Lazy Evaluation

In [294]:
#lista
[i for i in range(100)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [293]:
#generator
(i for i in range(100))

In [295]:
result=(i for i in range(100))

In [298]:
next(result)

2

In [299]:
for i in result:
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [300]:
next(result)

StopIteration:

In [301]:
result=(i for i in range(100))

In [303]:
next(result)

1

In [304]:
len(result)

TypeError: object of type 'generator' has no len()

In [306]:
[num for num in range(10**8)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [307]:
res=(num for num in range(10**8))

In [308]:
for i in result:
    pass

In [309]:
res_lista=[num**2 for num in range(10**8)]

In [311]:
res_lista[0]

0

In [316]:
res_gene=(num**2 for num in range(10**8))

In [313]:
next(res_gene)

0

In [317]:
for i in range(100):
    next(res_gene)

In [318]:
next(res_gene)

10000